/*@import url("css3style.css");*/
@import url("../scripts/jquery_custimer/jquery.custimer.css");
html,body{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.container-fluid{
	background-color: #222;
	width: 100%;
	height:100%;
	margin:0;
	padding:10px;
	background-image: url(../images/ov6.png);
	background-repeat: repeat;
	color: #fff;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;

	/*background: #020031;
	background: -moz-linear-gradient(45deg,#020031 0,#6d3353 100%);
	background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#020031),color-stop(100%,#6d3353));
	 background: -webkit-linear-gradient(45deg,#020031 0,#6d3353 100%); 
	background: -o-linear-gradient(45deg,#020031 0,#6d3353 100%);
	background: -ms-linear-gradient(45deg,#020031 0,#6d3353 100%);
	 background: linear-gradient(45deg,#020031 0,#6d3353 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353', GradientType=1);
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
*/
}



/*后台管理css*/
.bianfang_image{
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
}
.bian_name_left{
	text-align: right;
	padding: 0;
	height: 110px;
	/*line-height: 110px;*/
	margin: 0;
	/*margin-left: 20px;*/
	/*padding-top: 10px;*/
}
.bian_name_right{
	text-align: left;
	padding: 0;
	height: 110px;
	/*line-height: 110px;*/
	margin: 0;
	/*padding-top: 10px;*/
	/*margin-right: 20px;*/
}
.bian_name_left strong,.bian_name_right strong{
	font-size: 50px;
	color:yellow;
}

.daibiao_left{
	/*margin-top: 10px;*/
	margin-right: 170px;
	text-align: right;
	font-size: 20px;
}
.daibiao_right{
	/*margin-top: 10px;*/
	margin-left: 170px;
	text-align: left;
	font-size: 20px;
}

.bottom_tools{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,.2);
	height: 80px;
	line-height: 80px;
	width: 100%;

}
.bottom_left_tools,.bottom_right_tools{
	width: 50%;
}
.tool img{
	height:50px;
	width: 50px;
}
.margin-top-sm{
	margin-top: 50px;
}
.margin-top-xd{
	margin-top: 50px;
}
.margin-top-md{
	margin-top: 150px;
}
.margin-top-lg{
	margin-top: 200px;
}

.hideVoice{
	display: none;
}
































